.icon-sm {
    font-size: 2rem;
}

.icon-lg{
    font-size:9rem;
}

.avatar-sm{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}

.image-sm{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.image-lg{
    height: 9rem;
    width: 9rem;
    object-fit: cover;
}
